---
layout: default
---

<div class="box">
    <h1 class="post-title">{{ page.title }}</h1>
    <span class="post-meta">{{ page.date | date: "%-d %B, %Y. It was a %A." }} <a style="color:grey" href="{{ BASE_PATH }}{{ post.url }}#disqus_thread"></a></span><hr/>

    <span class="post-text">{{ content }}</span>
</div>

<div class="box">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-2314128584981990"
         data-ad-slot="1513670662"
         data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>

{% include JB/comments %}